body {
    font-family: var(--font-family);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

.site-main {
    padding: var(--padding-main);
}

.container {
    width: 90%;
    max-width: var(--container-max-width);
    margin: 0 auto;
}

/* User Actions Section */
.user-actions {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-action {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-action:hover {
    background-color: var(--btn-hover-bg);
    transform: translateY(-2px); /* Légère élévation pour effet dynamique */
}


/* Profile Section */
.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.user-name {
    font-weight: bold;
    color: var(--primary-color);
}

.btn-logout {
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: var(--primary-color-hover);
}


/* Réduit l'espace entre le titre/ticker et le prix */
.action-info h4 {
    margin-bottom: 5px; /* Diminue l'espace en dessous du titre */
}

/* Réduit l'espace entre "Price" et le changement journalier */
.action-info p {
    margin-bottom: 3px; /* Réduit l'espace entre tous les paragraphes */
}

/* Supprime l'espace après le dernier élément */
.action-info p:last-of-type {
    margin-bottom: 0;
}

