<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your one-stop solution for financial derivatives calculations and education.">
    <meta name="keywords" content="Derivatives, Financial Tools, Education, Risk Management">
    <meta name="author" content="The Derivative Desk">
    <title>{% block title %}The Derivative Desk{% endblock %}</title>
    {% block styles %}
    {% endblock %}
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/variables.css">
</head>
<body class="light-mode">
    {% include 'navbar.html' %} <!-- Inclure la barre de navigation -->
     <!-- User Actions -->
     <div class="user-actions">
        {% if not user_authenticated %}
            <a href="/login" class="btn-action">Login</a>
            <a href="/register" class="btn-action">Register</a>
        {% else %}
            <div class="user-profile">
                <img src="{{ user.profile_picture or '/static/images/default-profile.png' }}" alt="{{ user.first_name }}" class="profile-picture">
                <span class="user-name">{{ user.first_name }}</span>
                <a href="/logout" class="btn-logout">Logout</a>
            </div>
        {% endif %}
    </div>
    <main class="site-main">
        {% block content %}{% endblock %}
    </main>
    {% include 'footer.html' %} <!-- Inclure le footer -->
    <script src="/static/js/main.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
