{% extends "base.html" %} {% block title %}Under Construction - The Derivative
Desk{% endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/under_construction.css" />
{% endblock %} {% block content %}
<section class="under-construction">
  <div class="construction-container">
    <h1>🚧 Under Construction 🚧</h1>
    <p>This feature is under development right now.</p>
    <p>Please e-mail me for more details or inquiries.</p>
    <p>Email : support@thederivativedesk.com</p>
    <img src="/static/images/under_construction.png" alt="Under Construction" />
    <a href="/" class="btn-home">Return to Home</a>
  </div>
</section>
{% endblock %}
